@import '_button';

@keyframes rightToLeft {
  from {
    right: -300px;
  }
}

@keyframes leftToRight {
  from {
    right: 0;
  }
  to {
    right: -300px;
  }
}

@keyframes fadeOutKeyframes {
  from {
    opacity: 1;
    filter: blur(0);
  }
  to {
    opacity: 0;
    filter: blur(5px);
  }
}

div.sider {
  animation: 0.2s rightToLeft ease;
  width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);

  * {
    padding: 5px 10px;
  }
}

div.closeSider {
  animation: 0.4s leftToRight ease, 0.4s fadeOutKeyframes ease;
}

div.top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--violet);
}

button.closeButton {
  @include toggleButton();
  align-self: flex-start;

  svg {
    font-size: 40px;
    color: var(--violet);
  }
}

a.siderHomeLink {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--violet);
  font-weight: 600;
}

nav.navigationMenu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
